<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665254435025-31cv5tm5h7s9tohvqq1il2tarf6n8lbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665254435025-31cv5tm5h7s9tohvqq1il2tarf6n8lbg</string>
	<key>API_KEY</key>
	<string>AIzaSyAK5YyqK7eRph476LBGsuqWuLG7kzAe-MA</string>
	<key>GCM_SENDER_ID</key>
	<string>665254435025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-3.Cart</string>
	<key>PROJECT_ID</key>
	<string>ios-proj-5ffba</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-proj-5ffba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665254435025:ios:b01889ee219031cecd4df0</string>
</dict>
</plist>